:root {
    /* COLORS */
    --background-color: #F5F3EF; 
    --accent-color: #FEBD2F;
    --cards-color: #FFFFFF;
    --primary-text-color: #000000;
    --secondary-text-color: #646464;
    --outline-color: #DCDCDC; 

    /* TYPOGRAPHY */
    --heading-font-family: 'Roboto Serif', serif;
    --heading-medium-bold: 500;
    --heading-bold: 700;
    --paragraph-button-font-family: 'Roboto', sans-serif;
    --paragraph-font-weight: 400;
    --subheader-paragraph-h3-font-size: 24px;

    /* SPACING AND MARGINS */
    --padding-for-sections: 20px;
    --grid-gaps: 30px;
    --margin-top-bottom: 40px;

}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main";
    gap: var(--grid-gaps);
    flex-grow: 1;
}

/* HEADING & TYPOGRAPHY STYLING*/

h1 {
    font-size: 64px;
}

h1, h2 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-medium-bold);
}

h2 {
    font-size: 40px;
}

h3 {
    font-weight: var(--heading-bold);
    font-family: var(--heading-font-family);
    font-size: var(--subheader-paragraph-h3-font-size);
}

p, button {
    font-family: var(--paragraph-button-font-family);
    font-size: 18px;

}

p {
    color: var(--secondary-text-color);
}

/* HEADER STYLING */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: var(--padding-for-sections) 0;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.nav-link:hover {
    color: var(--accent-color);
}

header img {
    max-width: 160px;
    height: auto;
}

/* ADDED TRANSPARENT BORDER FOR DARKMODE/HIGH-CONTRAST MODE  */
.header-button {
    background-color: #000000;
    padding: 15px 24px;
    border-radius: 40px;
    border: transparent;
    color: #FFFFFF;
    font-size: 16px;
}

.header-button:hover {
    background-color: var(--accent-color);
}

.hamburger{
    display: none;
}

/* MAIN CONTAINER STYLING */
main {
    grid-area: main;
}
/* BANNER STYLING */
.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  gap: 40px;
  margin: var(--margin-top-bottom) 0 var(--margin-top-bottom) 0;
}
.banner p {
    font-size: 24px;
}
.banner img {
    justify-self: end;
}

/* CARDS SECTION STYLING */
.cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 35px;
    justify-items: center;
    margin: var(--margin-top-bottom) 0 var(--margin-top-bottom) 0;
}


/* CARDS STYLING */
/* ADDED TRANSPARENT BORDER FOR DARKMODE/HIGH-CONTRAST MODE  */
.class-card {
    border-radius: 40px;
    border: solid transparent 1px;
    background-color: var(--cards-color);
    padding: 35px;
    position: relative;
    max-width: 400px;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--grid-gaps);
}

.class-card button {
    border-radius: 50px;
    border: solid 1px var(--outline-color);
    background-color: transparent;
    padding: 10px 25px;
}

.header-card {
    background-color: var(--accent-color);
    min-height: 270px;
}

.class-symbol {
    position: absolute;
    top: -30px;
    right: 10px;
}
/* FOOTER STYLING */
footer {
    background-color: var(--accent-color);
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-for-sections);

}

@media screen and (max-width: 580px) {
    .header-button {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .nav-menu {
        display: none;
    }
}
    




